.wp-block-designsetgo-hotspot {

	:where(.dsgo-hotspot__image-wrap--editor) {
		min-height: 12rem;
	}

	:where(.dsgo-hotspot__coordinate-controls) {
		margin-top: 1rem;
		padding: 1rem;
		background: #fff;
		border: 1px solid #ddd;
	}
}
