.wp-block-designsetgo-text-path {
	min-height: 6rem;

	:where(.dsgo-text-path__guide) {
		pointer-events: none;
	}

}

.dsgo-text-path__link-target {
	margin-top: 12px;
	padding-top: 12px;
	border-top: 1px solid #ddd;
}
