.wp-block-designsetgo-hotspot-item {

	:where(.dsgo-hotspot-item__tooltip) {
		display: block;
		min-width: 10rem;
		opacity: .9;
		pointer-events: auto;
	}

	&.is-selected :where(.dsgo-hotspot-item__marker) {
		outline: 2px solid var(--wp-admin-theme-color, #007cba);
		outline-offset: 3px;
	}
}
